<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Excluir Mensagem #{{ message_obj.id }}</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <h1>Excluir Mensagem #{{ message_obj.id }}</h1>
  <p>Tem certeza que deseja excluir a mensagem de <strong>{{ message_obj.name }}</strong>?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Confirmar</button>
    <a href="{% url 'message_detail' message_obj.pk %}">Cancelar</a>
  </form>
</body>
</html>
