<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Mensagem #{{ message_obj.id }}</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <h1>Editar Mensagem #{{ message_obj.id }}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
    <a href="{% url 'message_detail' message_obj.pk %}">Cancelar</a>
  </form>
</body>
</html>
